/* Стили для меню */
.navbar {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
}

.navbar-toggle {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.navbar-nav li {
    margin-right: 10px;
    text-align: center;
}

.button_text {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}


.navbar-nav li:hover .button_text {
    background-color: #4CAF90;
    color: #fff;
    text-decoration: none;

}

a{
    text-decoration: none;
}