.content {
    /* Center the content and add some padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Style your sections here */
.create-lot-section,
.close-lot-section,
.lots-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
        /*max-width: 400px;*/
    margin: 20px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style forms */
.form-bet-content {
    display: flex;
    flex-direction: column;
}

.form-bet-amount,
.form-bet-artikul {
    font-weight: bold;
    margin-top: 10px;
}

label {
    text-align: left;
    margin-top: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4CAF90;
}

/* Style your list of lots here */
.lots-list h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

