.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    max-width: 400px; /* Limit the maximum width of the container */
    margin: 100px auto; /* Center the container horizontally */
}

.form-signin-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-center-content {
    display: flex;
    flex-direction: column;
}

.form-signin-name-heading,
.form-signin-password-heading {
    font-weight: bold;
    margin-top: 10px;
}

label {
    text-align: left;
    margin-top: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50; /* Match the menu's green color */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4CAF90;
}
